<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edev.trade.query.dao.DiscountMapper">
    <sql id="select0">
        select id, `name`, begin_time, end_time, discount, discount_type, product_id,
        null vip_type from t_product_discount where 1 = 1
    </sql>

    <sql id="select1">
        select id, `name`, begin_time, end_time, discount, discount_type,
        null product_id, vip_type from t_vip_discount where 1 = 1
    </sql>

    <sql id="conditions">
        <if test="id != '' and id != null">
            and id in (${id})
        </if>
    </sql>

    <sql id="isPage">
        <if test="size != null  and size !=''">
            limit #{size} offset #{firstRow}
        </if>
    </sql>

    <select id="query" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select * from (
        <include refid="select0"/>
        <include refid="conditions"/>
        union all
        <include refid="select1"/>
        <include refid="conditions"/>
        ) u
        <include refid="isPage"/>
    </select>

    <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Long">
        select count(*) from (
        <include refid="select0"/>
        <include refid="conditions"/>
        union all
        <include refid="select1"/>
        <include refid="conditions"/>
        ) count
    </select>

    <select id="aggregate" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select ${aggregation} from (
        <include refid="select0"/>
        <include refid="conditions"/>
        union all
        <include refid="select1"/>
        <include refid="conditions"/>
        ) aggregation
    </select>
</mapper>