<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edev.analysis.query.dao.MonthlySalesOfCustomerAndCityMapper">
	<sql id="select">
		SELECT DW_DIM_DATE."YEAR", DW_DIM_DATE."MONTH", DW_DIM_CUSTOMER.NAME,
		DW_DIM_REGION.PROVINCE, DW_DIM_REGION.CITY,
		SUM(DW_FACT_ORDER_HIT.AMOUNT) AMOUNT, COUNT(*) NUM_OF_ORDERS
		FROM DW_FACT_ORDER_HIT
		JOIN DW_DIM_DATE ON DW_FACT_ORDER_HIT.DATE_KEY = DW_DIM_DATE.DATE_KEY
		JOIN DW_DIM_CUSTOMER ON DW_FACT_ORDER_HIT.CUSTOMER_KEY = DW_DIM_CUSTOMER.CUSTOMER_KEY
		JOIN DW_DIM_REGION ON DW_FACT_ORDER_HIT.REGION_KEY = DW_DIM_REGION.REGION_KEY
		WHERE 1=1
	</sql>
	
	<sql id="groupBy">
		GROUP BY DW_DIM_DATE."YEAR", DW_DIM_DATE."MONTH", DW_DIM_CUSTOMER.NAME, 
		DW_DIM_REGION.PROVINCE, DW_DIM_REGION.CITY
	</sql>
	
	<sql id="conditions">
		<if test="year != '' and year != null">
			and DW_DIM_DATE."YEAR" = #{year}
		</if>
		<if test="month != '' and month != null">
			and DW_DIM_DATE."MONTH" = #{month}
		</if>
	</sql>
	
	<sql id="isPage">
		<if test="size != null  and size !=''">
			limit ${size} offset ${firstRow} 
		</if>
	</sql>
	
	<select id="query" parameterType="java.util.HashMap" resultType="java.util.HashMap">
   	 	<include refid="select"/>
		<include refid="conditions"/>
		<include refid="groupBy"/>
		<include refid="isPage"/>
	</select>
	
	<select id="count" parameterType="java.util.HashMap" resultType="java.lang.Long">
		select count(*) from (
			<include refid="select"/>
			<include refid="conditions"/>
			<include refid="groupBy"/>
		)
	</select>
	
	<select id="aggregate" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select ${aggregation} from (
			<include refid="select"/>
			<include refid="conditions"/>
			<include refid="groupBy"/>
		)
	</select>
</mapper>